/* adding google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* ready assets to use through the project */
    :root {
        --violet: #726DA8;
        --pink: #fdd4ff;
        --black: #101722;
        --white: #F0F0F0;
        --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

/* parameters that apply to the whole website */
    * {
        font-family: 'Quicksand', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: 0.2s linear;
    }

/* giving parameters to all elements that will appear on screen section starts here */
    html {
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 7rem;
        scroll-behavior: smooth;
    }

    html::-webkit-scrollbar {
        width: 0.8rem;
    }

    html::-webkit-scrollbar-track {
        background: transparent;
    }

    html::-webkit-scrollbar-thumb {
        background-color: var(--pink);
        border-radius: 5rem;
    }
/* giving parameters to all elements that will appear on screen section ends here */

/* navbar section starts here */
    .header {
        top: 0;
        right: 0;
        left: 0;
        background-color: var(--pink);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        padding: 1.4rem 7%;
        z-index: 999;
    }

    .header .logoContent {
        display: flex;
        align-items: center;
    }

    .header .logoContent .logo img {
        height: 4rem;
    }

    .header .logoContent .logoName {
        color: var(--black);
        font-size: 2.5rem;
        font-weight: bolder;
    }

    .header .navbar a {
        font-size: 2rem;
        margin-right: 3rem;
        color: var(--black);
        font-weight: bold;
    }

    .header .navbar a:hover {
        border-bottom: 0.1rem solid var(--black);
        padding-bottom: 0.4rem;
    }

    .header .icon i {
        font-size: 2rem;
        margin-right: 2rem;
        color: var(--black);
        cursor: pointer;
    }

    .header .search {
        display: none;
        top: 100%;
        margin: 1.5rem 7%;
        background-color: transparent;
        width: 50%;
        height: 5rem;
        position: absolute;

    }

    .header .search input {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        background-color: var(--white);
        color: var(--black);
        margin-right: 7%;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        box-shadow: var(--box-shadow);
    }

    .header .search.active {
        display: inline-block;
    }

    #menu-bar {
        display: none;
    }
/* navbar section ends here */

/* blogs' content section starts here */
    section {
        padding: 10rem 7%;
    }

    .blogs {
        background: url(pink_2.jfif) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .blogs .blogs-row .box {
        display: flex;
        align-items: center;
        background-color: var(--white);
        flex-wrap: wrap;
    }

    .blogs,
    .blogs-row .box .img {
        flex: 1 1 45rem;
    }

    .blogs .blogs-row .box .img img {
        width: 100%;
        padding: 5rem;
        border-radius: 50%;
    }

    .blogs .blogs-row .box .content {
        flex: 1 1 45rem;
        padding: 2rem;
    }

    .blogs .blogs-row .box .content h3 {
        font-size: 3.5rem;
        color: var(--black);
        text-shadow: var(--box-shadow);
    }

    .blogs .blogs-row .box .content p {
        font-size: 1.6rem;
        color: var(--black);
        padding: 1rem 0;
        line-height: 2rem;
    }

    .blogs .blogs-row .box .content a {
        font-size: 2rem;
        cursor: pointer;
        color: var(--violet);
    }

    .blogs .blogs-row .box .content a:hover {
        color: var(--black);
        text-shadow: var(--box-shadow);
        font-weight: bold;
    }

    .swiper-button-next {
        color: var(--black);
    }

    .swiper-button-prev {
        color: var(--black);
    }
/* blogs' content section ends here */

/* footer section starts here */
    .footer {
        background: url(section_image/f) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .footer .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1.5rem;
        padding: 2rem 1rem;
    }

    .footer .box-container .mainBox .content {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    .footer .box-container .mainBox .content h1 {
        font-size: 2rem;
        color: var(--black);
    }

    .footer .box-container .mainBox p {
        font-size: 1.7rem;
        line-height: 1.3;
        margin-bottom: 2rem;
    }

    .footer .box-container .box h3 {
        font-size: 2.2rem;
        color: var(--black);
        padding: 1rem 0;
    }

    .footer .box-container .box a {
        display: block;
        font-size: 1.6rem;
        color: var(--black);
        padding: 1rem 0;
    }

    .footer .box-container .box a i {
        padding-right: .5rem;
        color: var(--black);
    }

    .footer .box-container .box a:hover i {
        padding-right: 2rem;
    }

    .footer .share {
        padding: 1rem 0;
        text-align: center;
    }

    .footer .share a {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 2rem;
        color: var(--black);
        background: var(--pink);
        margin: 0 .3rem;
        border-radius: 50%;

    }

    .footer .share a:hover {
        background: var(--violet);
        color: var(--white);
    }

    .footer .credit {
        font-size: 2rem;
        margin-top: 2rem;
        padding-bottom: 2rem;
        color: var(--black);
        text-align: center;
    }
/* footer section ends here */





/* Responsiveness of website starts here */
    @media(max-width: 991px) {
        html {
            font-size: 55%;
        }

        .header {
            padding: 1.3rem 3rem;
        }
    }

    @media(max-width: 768px) {
        #menu-bar {
            display: inline-block;
        }

        .header .navbar {
            position: absolute;
            top: 100%;
            right: -100%;
            width: 25rem;
            background-color: var(--white);
            height: 80vh;
        }

        .header .navbar.active {
            right: 0;
        }

        .header .navbar a {
            display: block;
            font-size: 2rem;
            margin: 1.5rem;
            color: black;
        }
    }

    @media(max-width: 600px) {
        html {
            font-size: 50%;
        }
    }
/* Responsiveness of website ends here */